
body {
    background-image: url('https://images3.alphacoders.com/621/621682.jpg')
     }

body{background-size:cover;
}
    h1 {
        color: #f4e033
        }

    h1{
        background-color:black
       }
    
    h2 {
        color:white
             
    }

    h2{
        background-color:orange
    }

    h2{
        opacity:0.4
    }
